<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
    <link rel="shortcut icon" href="/form_pic.png" />
</head>
<body>
    <form action="/change/<%= @task.id%>" method="post">
    <div>
<label for="desciption">Please Enter The New Desciption Of The Task:</label><br>
<input type="text" name="desciption" id="desciption" value="<%= @task.desciption%>">
</div>

<div>
<label for="importance">Please Enter The New Importance Level Here:</label><br>
<input type="number" name="importance" id="importance" value="<%= @task.importance%>">
</div>


<input type="submit" value="Add A Task">
</form>
</body>
</html>